*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 
    --color-fondo-body-modo-claro: rgb(193, 201, 207);
    --color-fondo-header-modo-claro: rgb(222, 223, 225);
    --color-fondo-aside-modo-claro: rgb(170, 171, 175);
    --color-fondo-nav: rgb(25, 30, 43);
    --color-fondo-imagen: rgb(0, 0, 0);
    --color-fondo-boton: rgb(46, 125, 50);
    --color-fondo-barra-lateral: rgb(37, 41, 53);
    --color-fondo-caja-texto: rgb(57, 62, 73);
    --color-texto: rgb(252, 249, 249);
}
 /*modo claro*/
 body{
    background-color: var(--color-fondo-body-modo-claro);
    color: rgb(37, 41, 53);
 }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-fondo-header-modo-claro);
    width: 85%;
    padding: 20px;
}
header h1{
    margin-bottom: 10px;
    font-size: 40px;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
ul li{
    list-style: none;
}
ul button{
    padding: 10px;
    background-color: var(--color-fondo-nav);
    color: var(--color-texto);
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
ul button:hover{
    background-color: rgba(117, 119, 126, 0.537);
}

/* Main */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px 0;
}
section div{
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section div:nth-of-type(2n -1){
    background-color: white;
    margin: 25px;
    font-size: 30px;
    font-family: Impact;
    color: black;
}

main section div:nth-of-type(2n){
    width: 100%;
    height: 400px;
    background-color: var(--color-fondo-imagen);
}

main button {
    background-color: var(--color-fondo-boton);
    color: var(--color-texto);
    border: var(--color-fondo-boton);
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}
 main button i{
    padding: 5px;
 }
aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 122%;
}

.barraLateral{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgb(171, 172, 174);
}
/* .colorTexto{
    color: rgb(255, 255, 255 );
} */
input, select{
    margin: 10px 0;
    padding: 5px;
}
.ancho{
    width: 30%;
    margin-right: 5px;
}
::placeholder{
    color: white;
    }
aside h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.contenedorSelectorColor{
    display: flex;
}
.selectorColor{
    width: 50%;
    padding: 10px;
}
/* .colorFondo{
    background-color: rgb(57, 62, 73);
} */
form h4{
    margin: 10px auto;
}
.margenes{
    margin: 10px auto;
}
aside button{
    background-color: var(--color-fondo-caja-texto);
    color: var(--color-texto); 
}